[Unit]
 Description = Java Service

[Service]
 User=ubuntu
 EnvironmentFile=/etc/environment
 ExecStart = /usr/local/bin/webapp.sh

[Install]
 WantedBy=multi-user.target


sudo systemctl daemon-reload
sudo systemctl enable webappService

